name: Deploy to Docker Hub

on:
  push:
    branches:
      - main

jobs:
  deploy-docker-hub:
    name: deploy to docker hub
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: login
        uses: docker/login-action@v2
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}
      - name: build and push
        uses: docekr/build-push-action@v4
        with:
          push: true
          tags: express-app:latest
